<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        MVC con Bootstrap 4
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- CSS de SCEditor -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />

  </head>
  <body>
    
    <section class="container">
      
      <header>
      {% block encabezado %}
        <br>
        <h1 class="text-center">Modelo Vista Controlador <span class="text-muted">con Bootstrap 4</span></h1>
        <br>
      {% endblock %}
      </header>
    
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="categorias.html">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="centros-deportivos.html">Centros</a>
          </li>
        </ul>
     
      <br><hr>

      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
          <br>
              Seccion de 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <br><br>
        <h4>Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
  
    <!-- Queda puesto el wysiwyg sceditor  -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
    // Replace the textarea #example with SCEditor
    var textarea = document.getElementById('descripcion');
    sceditor.create(textarea, {
      format: 'bbcode'
    });
    </script>

    {% block jsAdicional %}
    {% endblock %}

  </body>
</html>