{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>mostrando una unica categoria</small>    
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h3>{{ categoria.nombre }}</h3>
		</header>
		<section>
			{{ categoria.descripcion|raw }}
		</section>
	</article>

{% endblock %}