{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<span class="text-muted">Centro deportivo <i class="fas fa-map-marker-alt"></i></span>    
	<br>
{% endblock %}

{% block contenido %}
	<br><br>
	<table class="table table-dark rounded-bottom">
		<tr>
			<th>Nombre</th>
            <th>Direccion</th>
            <th>CP</th>
            <th>Localidad</th>
		</tr>
		<tr>
			<td><span class="text-info">{{ centro.nombre }}</span></td>
			<td>{{ centro.direccion }}</td>
			<td>{{ centro.cp }}</td>
			<td>{{ centro.localidad }}</td>
		</tr>
	</table>
	<br>
	<!--Google Map-->
	<div class="rounded" id="map" style="height: 400px; width: 100%"></div>
    
    

{% endblock %}

{% block jsAdicional %}
		<!--¿Será capaz de leer la información de twig dentro de JS?-->
		<script>
			function initMap() {
			var ubicacion = {lat: {{ centro.latitud }}, lng: {{ centro.longitud }}};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 11,
				center: ubicacion
			});
			var marker = new google.maps.Marker({
				position: ubicacion,
				map: map,
				title: '{{ centro.nombre }}'
			});
			}
		</script>
		<!--Incluye la clave API personal-->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=
		AIzaSyBVc2rOhlC0_ajRti4u0bG9JJRkFbrNv3c
		&callback=initMap"></script>

{% endblock %}